<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="RestAssuredAPI_Suite" verbose="1" >
    <test name="BookingAPI_Tests" >
        <classes>
            <!-- Specify the full package and class name of your test -->
            <class name="com.example.apitests.FollowRedirectsNoRelaxedHttpsOnRedirects" />
            <!-- class name="com.example.apitests.RestAssuredStatusCodeVerification" />
            <class name="com.example.apitests.VerifyStatusCodeWithAssertThat" />
            <class name="com.example.apitests.VerifyStatusCodeWithHamcrest" />
            <class name="com.example.apitests.GetAllHeaders" />
            <class name="com.example.apitests.GetSingleHeader" />
            <class name="com.example.apitests.ValidateSpecificHeader" />
            <class name="com.example.apitests.ValidateMultipleHeaders" />
            <class name="com.example.apitests.ValidateJsonSchema" />
            <class name="com.example.apitests.ValidateJsonFields" />
            <class name="com.example.apitests.ValidateJsonStructure" />
            <class name="com.example.apitests.ValidateInlineXmlSchema" />
            <class name="com.example.apitests.ValidateEquality" />
            <class name="com.example.apitests.ValidateListSize" />
            <class name="com.example.apitests.ValidateExistence" />
            <class name="com.example.apitests.ValidateMultipleAssertions" />
            <class name="com.example.apitests.ValidateLogicalOperations" />
            <class name="com.example.apitests.ValidateWithCustomParser" />
            <class name="com.example.apitests.ValidateListOfValues" />
            <class name="com.example.apitests.ValidateCookies" />
            <class name="com.example.apitests.GetSingleHeaderPost" />
            <class name="com.example.apitests.GetMultipleHeadersPost" />
            <class name="com.example.apitests.SetHeadersFromMap" />
            <class name="com.example.apitests.DisableRedirects" />
            <class name="com.example.apitests.LimitRedirects" />
            <class name="com.example.apitests.FollowRedirectsNoRelaxedHttpsOnRedirects" /-->
        </classes>
    </test>
</suite>
